.fl {
  float: left;
}
.fr {
  float: right;
}
.w50 {
  width: 60px !important;
}
.w100 {
  width: 100px !important;
}
.w200 {
  width: 200px !important;
}
.mt10 {
  margin-top: 10px;
}
.mb10 {
  margin-bottom: 10px;
}
.mt20 {
  margin-top: 20px;
}
.mb20 {
  margin-bottom: 20px;
}
.ml10 {
  margin-left: 10px;
}
.mr10 {
  margin-right: 10px;
}
.ml20 {
  margin-left: 20px;
}
.mr20 {
  margin-right: 20px;
}
.color-green {
  color: green;
}
.color-red {
  color: red;
}

.el-collapse-item__content {
  padding-bottom: 0 !important;
}
.el-input-number__increase, .el-input-number__decrease {
  display: none;
}
.el-input-number .el-input__inner {
  padding-left: 10px !important;
  padding-right: 10px !important;
  text-align: left !important;
}